body {
  margin: 0px;
}

main {
  margin: 20px;
}

header {
  margin: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(79, 49, 12);
}
.navbar ul {
  list-style-type: none;
  background-color: rgb(79, 49, 12);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.searchcontain {
  position: relative;
  left: 70%;
  top: 8%;
  height: 40px;
  display: flex;
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  width: 18%;
  align-content: flex-start;
}
#searchbtn {
  flex-grow: 1;
}

.navbar a:hover {
  background-color: rgb(167, 115, 36);
}

.navbar li {
  float: left;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header {
  position: static;
  top: 0px;
  border: 2px solid;
  width: 100%;
  background-color: rgb(79, 49, 12);
}

.fheader {
  position: static;
  top: 0px;
  border: 2px solid;
  width: 100%;
  background-color: rgb(79, 49, 12);
}

.fcontainer {
  width: 100%;
  height: 1000px;
  border-color: rgb(131, 244, 55);
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 9%;
  margin-bottom: 120px;
}

.teams_img {
  border: 2px solid;
  border-color: rgba(22, 235, 175, 0.858);

  width: 100%;
  height: 40%;
}

.game_even {
  width: 50%;
  height: 28%;
  border-color: rgb(252, 252, 42);
  border-bottom: 1px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
}
.game_odd {
  width: 49%;
  height: 28%;
  flex-grow: 1;
  border-color: rgb(0, 0, 0);
  border-bottom: 1px;
  border-style: solid;
}
.dates {
  border: 1px solid;
  height: 23%;
  width: 100%;
  text-align: center;
  border-color: rgb(186, 16, 242);
}

.teams {
  border: 1px solid;
  border-color: rgba(248, 48, 48, 0.858);
  height: 23%;
  width: 100%;
  display: flex;
  /*align-content: flex-start;*/
  position: relative;
}
.scores {
  border: 1px solid;
  border-color: rgb(98, 216, 51);
  width: 100%;
  height: 52%;
  position: relative;
}

.score_even {
  position: absolute;
  left: 14%;
  font-size: 35px;
  bottom: -15px;
}
.score_odd {
  position: absolute;
  left: 80%;
  font-size: 35px;
  bottom: -15px;
}

.img_even {
  padding-left: 10%;
}

.img_odd {
  padding-left: 50%;
}

.team_even {
  position: absolute;
  left: 55px;
}
.team_odd {
  position: absolute;
  left: 530px;
}
.text {
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 58%;
}

.pagination {
  text-align: center;
  position: relative;
  bottom: 50px;
  font-size: 50px;
  border: 1px solid;
  width: 180px;
  margin: auto;
}
/*@container (width > 1009px) {
  ;
  }
}
/* #date0 {
  margin-left: 10%;
} */
